.quickedit__modal {
  top: 128px;
  left: 576px;
  width: 307px;
  position: absolute;
  display: flex;
}

.quickedit {
  &__textarea {
    border: none;
    height: 79px;
    padding: 1% 6%;
    color: #afaeae;
    margin: 0 0 4px 0;
    border-radius: 4px;
    font-family: sans-serif;
    width: 202px;
  }

  &__savebtn {
    background-color: #5aac44;
    box-shadow: 0 1px 0 0 #3f6f21;
    border: none;
    color: #fff;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    &:hover {
      background-color: #519839;
    }
  }

  &__closebtn {
    box-shadow: 0 1px 0 0 #949393;
    border: none;
    color: #fff;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    &:hover {
      background-color: #949393;
    }
  }
}

.quickeditmenu {
  cursor: pointer;
  &__btns {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    clear: both;
    color: #e6e6e6;
    display: block;
    float: left;
    margin: 0 0 4px 8px;
    padding: 6px 12px 6px 8px;
    text-decoration: none;
    transition: -webkit-transform 85ms ease-in;
    transition: transform 85ms ease-in;
    transition: transform 85ms ease-in, -webkit-transform 85ms ease-in;

    &:hover {
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
    }
  }
}
